@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    padding: 20px;
}
p {
    margin: 0;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
input {
    height: 100px;
    width: 70px;
    border-radius: 10px;
    font-size: 70px;
    margin: 5px;
    text-align: center;
    border: 1px solid rgb(235, 235, 235);
    outline: none;
}
input:valid {
    border: 1px solid rgb(132, 179, 213);
    box-shadow: 0 5px 7px -3px rgba(0, 0, 0, 0.5);
}
p {
    text-align: center;
    margin: 10px 60px;
}
input:focus {
    border: 2px solid rgb(141, 141, 255);
}
.last {
    color: rgb(145, 145, 145);
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 10px;
    padding: 15 20px;
}
input::placeholder {
    color: rgb(208, 208, 208);
}